*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
                        /* Banner Start */
  
/* Slider */


.slide img {
  width: 100%;
  height: 460px;
}

.slick-slider
{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.customer-logoss .slid img {
  height: 180px;
  width: 100%;
}

                   /* Banner END */

.introduction{
  width: 100%;
  background-color: #FFCFBE;
  text-align: center;
}
.intro{
  width: 60%;
  color: #000066;
  font-weight: bold;
  margin: auto;
  padding: 20px;
}
.introduction h1{
  font-size: 3rem;
  font-weight: bold;
  color: #FF5F1D;
  text-align: center;
}
                        /* our-partner Start */
.our-partners{
  width: 100%;
  background-color: white;
}                        
.partner{
  width: 95%;
  padding: 10px;
  margin: auto;
}
.partner h2{
  font-weight: bold;
  color: #FF5F1D;
  text-align: center;
}
                    /* our-partner END */

                     /* Job-Content Start */
.jobs-gallery{
  width: 100%;
}
.job-content{
  width: 95%;
  margin: auto;
  padding: 15px;
}
.job-content-grid{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 38px;
}
.job-content h2{
  font-weight: bold;
  color: #FF5F1D;
}

                    /* Job-Content End */
        
                                    /* Heading-underline Style Start */

.ser-t {
  text-align: center;
  margin: 0 auto;
  width: 18%;
  margin-top: 15px;
  position: relative;
}
.ser-t b{
  width: 100%;
  height: 2px;
  display: block;
  background: #FF5F1D;
  margin-bottom: 3px;
}
.ser-t b.line{
  width: 80%;
  margin:0 auto;
}
.ser-t  span{
  width: 40px;
  height: 30px;
  background:#FFEFEC;
  display: block;
  position: absolute;
  top: -7px;
  left: 42%;  
}
.ser-t  span i{
  width: 20px;
  height: 20px;
  display: block;
  border: 2px solid #FF5F1D;
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(45deg) translate3d(0, 0, 0);
  -o-transform: rotate(45deg) translate3d(0, 0, 0);
  transform: rotate(45deg) translate3d(0, 0, 0);
  margin-left: 0.7em;
}

                               /* Heading-underline Style End */

                               /* Jobs title start */

.box a > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  }
.box a > article img {
  max-width: 100%;
}

.box a > article img {
  font-size: 48px;
  line-height: 70px;
  height: 80px;
  width: 80px;
  border: 6px solid #FFEFEC;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  color: white;
  margin-top: -36px;
}
.box a .text {
  padding: 5px;
  min-height:70px;
  max-height:70px;
  text-decoration: none;
  color:#FF5F1D;
}
.box a .text:hover {
  color: #000066;
}
.box a:hover {
  text-decoration: none;
}
.box a .btn {
  margin-top: 20px;
}


                                          /* Jobs title End */

 


 /* COntact-Form Start */                               
.contact-form{
  width: 90%;
  margin: auto;
}
.dbox {
  text-align: center;
  align-items: center;
}
.icon{
  width: 40px;
  height: 40px;
  margin: auto;
  color: #000066;
  background-color: #FF5F1D;
  border: 1px solid #FF5F1D;
  border-radius: 50%;
}
.text a{
  color: #FF5F1D;
}
.text a:hover{
  color: #000066;
  transition: 0.3s ease-in-out;
}
                                   /* COntact-Form ENd */


                                  










                        /* Responsive Start */
 
                        /* 968px Start */

                        
@media (max-width: 992px) {
  .banner-text{
    font-size: 3rem;
  }
  .banner-text01{
    padding: 40px;
  }
  .job-content-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .ser-t {
    width: 30%;
  }
  select{
    width: 100%;
  }
}
@media (max-width: 968px) {
  .industry01{
    width: 100%;
    margin: auto;
    padding: 10px;
  }
 .partner{
    width: 100%;
    margin: auto;
    padding: 10px;
  }
  .banner-text{
    font-size: 3rem;
  }
  .banner-text01{
    padding: 40px;
  }
  .form-grid{
    grid-template-columns: auto;
  }
   /* .post-slider01{
    width: 100%;
    margin: auto;
    padding: 10px;
  }
  .job-advice01{
    width: 100%;
    margin: auto;
    padding: 10px;
  } */
}
                         /* 800 Responsive Start */

@media (max-width: 800px) {
  .slide img {
    height: 280px;
    width: 100%;
  }
  .banner-text{
    font-size: 2.5rem;
  }
  .job-content-grid{
    grid-template-columns: 1fr 1fr;
  }
  .lot-job{
    padding-top: 10%;
  }
}
                /* 600 Responsive Start */

@media (max-width: 600px) {
  .slide img {
    height: 250px;
    width: 100%;
  }
  .banner-text01{
    padding: 20px;
  }
  .intro{
    width: 100%;
  }
  .ser-t {
    width: 43%;
  }
}
                  /* 550 Responsive Start */
@media (max-width: 550px) {
  .job-content-grid{
    grid-template-columns: 1fr;
  }
}

                     /* 480 Responsive Start */

@media (max-width: 480px) {
  .slide img {
    height: 180px;
    width: 100%;
  }
  .banner-text{
    font-size: 2.2rem;
  }
  .banner-text01{
    padding: 10px;
  }
  .banner-text01 p{
      width: 100%;
  }
  .ser-t {
    width: 64%;
}
  .contact-form{
    width: 100%;
    margin: auto;
  }
}

                     /* 430 Responsive Start */

 @media (max-width: 430px) {
   .job-content{
    text-align: center;
   }
  .job-content-grid{
    grid-template-columns: 1fr;
  }
  /*.partner01{
    font-size: 2.2rem;
  }
  .job-cards{
    margin-top: 10px;
  }*/
} 
                         /* 350 Responsive Start */

@media (max-width: 350px) {
  select{
    width: 100%;
    margin: auto;
    padding: 10px;
  }
  .business-analyst-box{
    margin-top: 15%;
  }
}

